.tamano-imagen {
		 
}

.distancia {
	
	margin-top: 30px;
	margin-bottom: 20px;
}


.panel-botones {


}

.boton {
	margin-right: 41px;
}
.observacion {
	-webkit-box-shadow: 6px 3px 19px #AAA5A5;
	box-shadow: 6px 3px 19px #AAA5A5;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 40px;
}
.label-obs {
	color: #C85317;
	font-style: normal;
	font-size: large;
	margin-bottom: -3px;
}
.label-informe {
	color: #C95917;
	font-size: x-large;
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;
}
